<%= div_for(reply, class: "reply-whole col-xs-12 col-md-12 col-lg-12 thread-col", :itemprop=>"suggestedAnswer",:itemscope=>true, :itemtype=>"http://schema.org/Answer") do %>

  <div class="thread-card">

    <div class="thread-info">
      <%= image_tag(reply.user.image.url(:thumb), :class => "img-circle thread-user-image") %>
      <div class="pull-right">
        <div><i class="fa fa-clock-o"></i>replied <time itemprop="dateCreated" datetime=<%= reply.created_at %>><%= time_ago_in_words(reply.created_at) %></time> ago<br /></div>
        <div class="author-text">by <span class="user-thread" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" id="post-username"><%= reply.user.username %></span></span><br /></div>
        <div class="badge-icon"> 
          <div><i class="fa fa-tag fa-rotate-45"></i></div>
          <div class="tag-right"><%= reply.user.badge %></div>
        </div>
      </div>
    </div>

    <div class="description" itemprop="text" id="reply-content-<%= reply.id %>">
      <%= reply.content %>
    </div>

    <div class="edit-form" id="edit-reply-<%= reply.id %>">
      <%= form_for([@new_thread, reply], :html => {:class => 'reply-form'}, remote: true)  do |f| %>
        <%= f.text_area :content, :class => 'form-control', :rows=>'3' %>
        <% if user_signed_in? %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
        <%end%>
        <p class="edit-reply-btn"><%= f.submit "Update", :class => "reply-but btn btn-primary"%></p>
      <% end %>
    </div>

    <div class="thread-foot">
      <div class="thread-icons">
        <%= button_to(like_count_replies_path(:reply_id => reply), remote: true, :class => "like-bu") do %>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          <%= render :partial => "like_count_replies/reply_like", :locals => {reply: reply} %>
        <% end %>
      </div>

      <div class="thread-icons">
        <%= button_to(dislike_count_replies_path(:reply_id => reply), remote: true, :class=> "like-bu dis") do %>
          <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
          <%= render :partial => "dislike_count_replies/reply_dislike", :locals => {reply: reply} %>
        <% end %>
      </div>

      <div class="thread-icons">
        <%= button_to(reply_flags_path(:reply_id => reply), remote: true, :class => "like-bu flag-icon") do %>
          <i class="fa fa-flag" aria-hidden="true"></i>
          <%= render :partial => "reply_flags/reply_flag", :locals => {reply: reply} %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <% if reply.user.id == current_user.id %>
          <a id="edit-reply-btn-<%= reply.id %>" class="btn btn-default" reply-id="<%= reply.id %>"><i class="fa fa-pencil"></i></a>
          <%= link_to "<i class='fa fa-trash'></i>".html_safe, {:action => 'destroy', :controller => "replies", :id => reply.id, :new_thread_id => @new_thread.id}, :method => "delete", data: { confirm: 'Are you sure?' }, :class => 'reply-link edit-post btn btn-default'%>
        <% end %>
      <%end%>
      <%= link_to "<i class='fa fa-share-alt'></i>".html_safe, "#reply_" + reply.id.to_s, class: 'btn btn-default' %>

    </div>
  </div>
<% end %>
