<% @new_threads.each do |new_thread| %>
  <%if @flag = new_thread.new_thread_flags.first %>
    <tr class="destroy_flag" id="new_thread_<%=new_thread.id%>">
      <td class="destroy_flag"><%= @flag.new_thread.description.truncate(100) %></td>
      <td><%=link_to new_thread.title.split[0..3].join(" "), new_thread %></td>
      <td><%= new_thread.new_thread_flags.size %></td>
      <td><%= link_to "Delete", { controller: "new_thread_flags", action: "destroy", id: new_thread.id } , remote: true, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
<% end %>
