<div class="s-wrapper">

  <section class="container">
  <div class="login">
<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <p><%= f.email_field :email, autofocus: true %></p>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <p><%= f.password_field :password, autocomplete: "off" %></p>

  <%= f.label :password_confirmation %>
    <p><%= f.password_field :password_confirmation, autocomplete: "off" %></p>

  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <p><%= f.password_field :current_password, autocomplete: "off" %></p>

    
     <%= f.label :photo, "Photo" %>
      <p><%= f.file_field :photo %></p>
 
 <p class="submit">
  <%= f.submit "Update", :class => 'sign-up'%>
</p>
<% end %>

<%= link_to "Cancel", :back, :class => 'navbar-link new cancel' %>

</div>
</section>
</div>