<div class="first-page">
  <p class="intro-sign">
  Not a <bold>Memeber</bold> yet? Go ahead and sign up! <br>
  It only takes a few seconds... 
  </p>
  <div class="login-page">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.label :email %>
  <p><%= f.email_field :email, autofocus: true %></p>

  <%= f.label :password %><br />
  <p><%= f.password_field :password, autocomplete: "off" %></p>

  <% if devise_mapping.rememberable? -%>
   <p class="remember_me">
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  <% end -%>
   </p>
   <p class="submit">
  <%= f.submit "Sign in", :class => "sign-in-but" %>
   </p>
<% end %>
 <h1 class="or-sign"> "or" </h1>

<p class="links">
<%= render "devise/shared/links" %>
</p>
</div>
<div class="sign-up-form">
   <%= render :partial => "users/registrations/new"%>
</div>
</div>