<% @pageTitle = "Badges | CAT Forum" %>
<% @PageDescription= "Learn how to earn Badges and increase your trust in the forum" %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>What are points/Badges? How can you earn or lose them?</h2>
      <p>
     	  Points/Badges are rough measurement of how much the community trusts you; it is earned by convincing your peers that you know what you’re talking about. Basic use of the site, including asking questions, answering can help you earn them.<br>

        The primary way to gain reputation is by posting good questions and useful answers. Votes on these posts cause you to gain (or sometimes lose) reputation.
      </p>

      <h4 class="how-to">You gain points when:</h4>
        <ul class="earn-points">
     	    <li>You answer a question: +5</li>
     	    <li>Question is liked: +15</li>
     	    <li>Answer is liked: +25</li>
        </ul>
      <h4 class="how-to">You lose points when:</h4>
      <ul class="earn-points">
      	<li>Question is disliked: -10</li>
      	<Li>Answer is disliked: -15</li>
      	<li>Question is deleted: -20</li>
      	<li>Answer is deleted: -20</li>
      </ul>
      <p>Be careful about what you are posting! If you get a lot of flagged and deleted replies and questions you may get blocked from site.</p>
      
      <p>All users start with 100 point, and reputation can drop below 0. Liking your own reply or question does not gain you any points nor does replying to your own question. You can upgrade your badge by earning more and more points.</p>

      <h4 class="how-to">Badges List</h4>
      <div class="badges-list container">
      	<div class="row">
          <div class="col-xs-6 col-sm-3"><div class="tag">Gungan</div><%= image_tag "tag.png", size: "25x35", class: 'tag-img' %></div><div class="col-xs-6 col-sm-9"> Points below 200</div>
        </div>

      	<div class="row">
          <div class="col-xs-6 col-xs-6 col-sm-3"><div class="tag">EWOK</div><%= image_tag "tag.png", size: "25x35", class: 'tag-img' %></div>
          <div class="col-xs-6 col-sm-9"> Points between 200 - 399</div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3"><div class="tag">Wookie</div><%= image_tag "tag.png", size: "25x35", class: 'tag-img' %></div>
          <div class="col-xs-6 col-sm-9">Points between 400 - 799</div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3"><div class="tag">Stormtrooper</div><%= image_tag "tag.png", size: "25x35", class: 'tag-img' %></div>
          <div class="col-xs-6 col-sm-9"> Points between 800 - 1599</div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3"><div class="tag">Clone Caption</div><%= image_tag "tag.png", size: "25x35", class: 'tag-img' %></div>
          <div class="col-xs-6 col-sm-9"> Points between 1600 - 3199</div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3"><div class="tag">Clone Commander</div><%= image_tag "tag.png", size: "25x35", class: 'tag-img' %></div>
          <div class="col-xs-6 col-sm-9"> Points between 3200 - 4999</div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3"><div class="tag">Jedi Apprentice</div><%= image_tag "tag.png", size: "25x35", class: 'tag-img' %></div>
          <div class="col-xs-6 col-sm-9"> Points between 5000 - 9999</div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3"><div class="tag">Jedi</div><%= image_tag "tag.png", size: "25x35", class: 'tag-img' %></div>
          <div class="col-xs-6 col-sm-9"> Points between 10000 - 14999</div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3"><div class="tag">Jedi Knight</div><%= image_tag "tag.png", size: "25x35", class: 'tag-img' %></div>
          <div class="col-xs-6 col-sm-9"> Points between 15000 - 19999</div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3"><div class="tag">Jedi Master</div><%= image_tag "tag.png", size: "25x35", class: 'tag-img' %></div>
          <div class="col-xs-6 col-sm-9"> Points between 20000 - 29999</div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3"><div class="tag">Yoda</div><%= image_tag "tag.png", size: "25x35", class: 'tag-img' %></div>
          <div class="col-xs-6 col-sm-9"> Points between 30000 - 49999</div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3"><div class="tag">The Chosen One</div><%= image_tag "tag.png", size: "25x35", class: 'tag-img' %></div>
          <div class="col-xs-6 col-sm-9"> Points Above 49999</div>
        </div>
      </div>

    </div>
  </div>
</div>
