<%= form_for(@new_thread, html: { class: 'form-horizontal' } ) do |f| %>
  <% if @new_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_thread.errors.count, "error") %> prohibited this new_thread from being saved:</h2>

      <ul>
      <% @new_thread.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <div class='form-group'>
    <%= f.label :title, class: 'col-xs-1 control-label' %>
    <div class='col-xs-11'><%= f.text_field :title, class: 'form-control' %></div>
  </div>
  
  <div class='form-group'>
    <div class='col-xs-12'><%= f.text_area :description, rows: '20', class: 'form-control', id: 'edit' %></div>
  </div>
  
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <div class='form-group'>
    <div class='col-xs-3'><%= f.submit (action_name == 'new' ? 'Post' : 'Update'), class: 'btn btn-primary btn-lg' %></div>
  </div>
<% end %>
