<div id="new-thread-button" class="btn btn-primary">
  <%= link_to({:action => 'new'}, :class => 'navbar-link new') do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
    <span>New Thread</span>
  <% end %>
</div>

<div class="thread-list-wrapper">
  <div class="container thread-list fr-view">
    <div class="row thread-row">
      <% @new_threads.each do |new_thread| %>
        <% @new_thread = new_thread %>
        <div class="col-xs-12 col-md-6 col-lg-4 thread-col">
          <div class="thread-card hvr-underline-from-center" itemscope itemtype="http://schema.org/Question">
            <div class="thread-head">
              <div class="thread-title">
                <%= link_to new_thread.title, new_thread, :class => "thread-link", :itemprop=>"url"%>
              </div>
            </div>
            
            <div class="thread-body" itemprop="text">
              <p><%= truncate_html(new_thread.description.html_safe) %> (<%= link_to "Read more", new_thread, :class => "thread-link"%>)</p>
            </div>

            <div class="thread-foot">
              <%=raw new_thread.tag_list.map {|t| link_to t,tag_path(t)}.join(', ') %>
            </div>

            <div class="thread-foot">
              <div class="thread-info">
                <%= image_tag new_thread.user.image_url(:thumb).to_s, :class => "img-circle thread-user-image" %>
                <div class="pull-right"><p>asked by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= new_thread.user.username %></span></span><br />
                <i class="fa fa-clock-o"></i><%= time_ago_in_words(new_thread.created_at) %> ago</p></div>
              </div>
              <div>
                <div class="thread-icons">
                  <%= button_to(like_counts_path(:new_thread_id => new_thread), remote: true, :class => "like-bu") do %>
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <%= render :partial => "like_counts/new_thread", :locals => {:new_thread_id => @new_thread.id} %>
                  <% end %>
                </div>
                <div class="thread-icons">
                  <%= button_to(dislike_counts_path(:new_thread_id => new_thread), remote: true, :class=> "like-bu dis") do %>
                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    <%= render :partial => "dislike_counts/new_thread_dislike", :locals => {:new_thread_id => @new_thread.id} %>
                  <% end %>
                </div>
                <div class="thread-icons">
                  <%= link_to(new_thread) do%>
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                    <div class="like-count" itemprop="answerCount"><%= new_thread.replies.size %></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
