<% @pageTitle = "Search Results | CAT Forum" %>
<% @PageDescription = "Search discussions in CAT Forum" %>
<div class="search-threads">
  <div class="thread-list-wrapper">
    <div class="container thread-list">
      <%= link_to("<span class='glyphicon glyphicon-menu-left'></span> Back to all Threads".html_safe, {:controller => "new_threads", :action => 'index'}, :class => 'back-link btn btn-default') %>
      <div class="row thread-row">
        <% @new_threads.each do |new_thread| %>
          <div class="col-xs-12 col-md-6 col-lg-4 thread-col">
            <div class="thread-card hvr-underline-from-center" itemscope itemtype="http://schema.org/Question">
              <div class="thread-head">
                <div class="thread-title">
                  <%= link_to new_thread.title, new_thread, :class => "thread-link", :itemprop=>"url"%>
                </div>
              </div>
            
              <div class="thread-body" itemprop="text">
                <p><%= new_thread.description.truncate(100) %> ....(<%= link_to "Read more", new_thread, :class => "thread-link"%>)</p>
              </div>

              <div class="thread-foot">
                <div class="thread-info">
                  <%= image_tag new_thread.user.image_url(:thumb).to_s, :class => "img-circle thread-user-image" %>
                  <div class="pull-right">
                    <p>asked by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= new_thread.user.username %></span></span><br /><span class="glyphicon glyphicon-time"></span><%= time_ago_in_words(new_thread.created_at) %> ago</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
