<% @pageTitle = @new_thread.title + " | CAT Forum" %>
<% @PageDescription = @new_thread.description %>
<div class="container thread-show fr-view">
  <div class="row thread-posts-row">
    <div class="thread-post">
      <div class="col-xs-12 col-md-12 col-lg-12 thread-col">
        <div class="thread-card" itemscope itemtype="http://schema.org/Question">
          <div class="show-thread-title" itemprop="name">
            <%= link_to @new_thread.title, @new_thread %>
          </div>

          <div class="thread-info">
            <%= image_tag(@new_thread.user.image.url(:thumb), :class => "img-circle thread-user-image") %>
            <div class="pull-right">
              <div><i class="fa fa-clock-o"></i>asked <time itemprop="dateCreated" datetime=<%= @new_thread.created_at %>><%= time_ago_in_words(@new_thread.created_at) %></time> ago<br /></div>
              <div class="author-text">by <span class="user-thread" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" id="post-username"><%= @new_thread.user.username %></span></span></div>
              <div class="badge-icon"> 
                <div><i class="fa fa-tag fa-rotate-45"></i></div>
                <div class="tag-right"><%= @new_thread.user.badge %></div>
              </div>
            </div>
          </div>
        
          <div class="description" itemprop="text">
            <%= @new_thread.description.html_safe %>
          </div>

          <div class="thread-foot">

            <% if user_signed_in? %>
              <% if @new_thread.user.id == current_user.id %>
                <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_new_thread_path, :class => 'thread-link edit-post btn btn-default'%>
                <%= link_to "<i class='fa fa-trash'></i>".html_safe, @new_thread, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'thread-link edit-post btn btn-default'%>
              <%end%>
            <% end %>

            <div class="thread-icons">
              <%= button_to(like_counts_path(:new_thread_id => @new_thread), remote: true, :class => "like-bu") do %>
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                <%= render :partial => "like_counts/new_thread", :locals => {:new_thread_id => @new_thread.id} %>
              <% end %>
            </div>
            <div class="thread-icons">
              <%= button_to(dislike_counts_path(:new_thread_id => @new_thread), remote: true, :class=> "like-bu dis") do %>
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                <%= render :partial => "dislike_counts/new_thread_dislike", :locals => {:new_thread_id => @new_thread.id} %>
              <% end %>
            </div>
            <div class="thread-icons">
              <%= button_to(new_thread_flags_path(:new_thread_id => @new_thread), remote: true, :class => "like-bu flag-icon") do %>
                <i class="fa fa-flag" aria-hidden="true"></i>
                <%= render :partial => "new_thread_flags/new_thread_flag", :locals => {:new_thread_id => @new_thread.id} %>
              <% end %>
            </div>

          </div>

        </div>
      </div>

      <div class="thread-header col-xs-12">
        <% if @new_thread.replies.size == 0 %>
          <h4 class="no-reply">No one has replied to this question. Be the first to reply!</h4>
        <% else %>
          <h2><%= @new_thread.replies.size %> Replies:</h2>
        <%end%>
      </div>
      
      <div id="replies">
        <%= render :partial => @new_thread.replies%>
      </div>

	 <div class="col-xs-12 col-md-12 col-lg-12 thread-col">	
	<%if user_signed_in? %>
	   <div class="thread-card">
          <%= form_for([@new_thread, Reply.new], :html => {:class => 'reply-form'}, remote: true)  do |f| %>
            <%= f.text_area :content, :class => 'form-control', :rows=>'3' %>
            <% if user_signed_in? %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            <%end%>
            <div class="reply-btn"><%= f.submit "Add Reply", :class => "reply-but btn btn-primary"%></div>
          <% end %>
        </div>
      
	<%else%>
		<p><a href="/users/sign_in">Log In</a> Or <a href="/users/sign_up">Sign Up</a> to post a reply</p>
	<%end%>
	</div>
    </div>
  </div>
</div>
